<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--引用 layui.css，注意路径要写自己项目的-->
    <link rel="stylesheet" href="js/layui-v2.5.5/css/layui.css" media="all"/>

    <!--引用 layui.js和jQuery，注意路径要写自己项目的-->
    <script src="js/layui-v2.5.5/layui.js"></script>
    <script src="js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <!--<script type="text/javascript"  th:inline="none"></script>-->
</head>
<body>
<table id="itemTable" lay-filter="test"></table>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#itemTable'
            ,height: 312
            ,url: '/item/list' //数据接口
            ,page: true //开启分页
            ,limit:5
            // ,parseData:funtion(res){
            //     return{
            //         "code":0,
            //         "msg":"",
            //         "count":1000,
            //         "data":res
            //     }
            // }
            ,cols: [
                [{field: 'itemId', title: 'ID', width:120, sort: true, fixed: 'left'}
                ,{field: 'itemName', title: '商品名称', width:120}
                ,{field: 'itemImage', title: '图片', width:120, sort: true}
                ,{field: 'itemPrice', title: '价格', width:120}
                ,{field: 'itemType', title: '商品类型', width: 120}
                ,{field: 'itemNumber', title: '库存', width: 120, sort: true}
                ,{field: 'createTime', title: '创建时间', width: 120, sort: true}
                ,{field: 'flag', title: 'FLag', width: 120, sort: true}
                ]
            ]
        });

    });
</script>
</body>
</html>